page-item-bids {

    // Date object
    .date-in-list{
        font-size : 12px;
        flex-wrap : nowrap
    }

    .list-header {
        margin:0px;
        background-color: color($colors,dark) ;
    }


    .user-handle {
        font-size: 1.4rem ;
    }

    .bid-amount {
        color: color($colors,typical) ;
    }


}
