<!-- App Home page
-Like items,
-Request commision
-view gallery
-links to other pages
-->
<ion-header>

  <ion-navbar color="dark">

    <!-- Navbar Title -->
    <ion-title>
      just@rt
    </ion-title>

    <!-- Messages Button -->
    <ion-buttons end>
      <button ion-button clear icon-only (tap)="openMenu('MessagesPage')">
        <!-- Icon -->
        <ion-icon name='text'></ion-icon>
      </button>
    </ion-buttons>

    <!-- Search Button -->
    <ion-buttons end>
      <button ion-button clear icon-only (tap)="openMenu('SearchPage')">
        <!-- Icon -->
        <ion-icon name='search'></ion-icon>
      </button>

    </ion-buttons>

    <!-- Account Button -->
    <ion-buttons end>
      <button ion-button clear icon-only (tap)="openMenu('AccountProfilePage')">
        <!-- Icon -->
        <ion-icon name='person'></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>

<ion-content no-padding auto-hide text-responsive>

  <!-- List  -->
  <ion-list>

    <!-- Card Item -->
    <ion-card *ngFor='let item of items; let i =index;'>
  
      <!-- User & Item Info -->
      <ion-item>
  
        <!-- Avatar -->
        <ion-avatar item-start (tap)="viewArtist(item)">
          <img [class.follow-ring]="item.user.follows.you==true" src={{item.user.img}}/>
        </ion-avatar>
  
        <!-- User Handle -->
        <h2 ion-text color="light" (tap)="viewArtist(item)" class="user-handle">{{item.user.handle}}</h2>
  
        <!-- Item Name/Year -->
        <p ion-text color="primary" *ngIf="item.year" text-capitalize>'{{item.name}}' - {{item.year}}</p>
  
        <!-- Bid Date -->
        <p ion-text color="orange-fruit" *ngIf ="item.bid_date" class="bid-date">
          {{item.bid_date|date: "'bidding ends on' EEE dd MMM HH:mm"}}
        </p>
  
        <!-- Event Type -->
        <p *ngIf="item.event_type" text-capitalize ion-text color="primary">
          {{item.event_type}} 
        </p>
  
        <!-- Event Date -->
        <p ion-text color="orange-fruit" *ngIf="item.event_date" class="event-date">
            {{item.event_date|date:" 'on' EEE dd MMM HH:mm"}}
        </p>
  
        <!-- More Button -->
        <button ion-button clear icon-only item-end (tap)="moreActions(item)">
  
          <!-- Icon -->
          <ion-icon name='more'></ion-icon>
  
        </button>
  
      </ion-item>
      <!-- ./User & Item Info -->
      
      <!-- Image Container -->
      <div class="image-container" (tap)="likeEvent(item)" [style.backgroundImage]=" 'url(' +item.img+ ')' ">
      </div>   
  
      <!-- Actions -->
      <ion-row>
  
        <!-- Like -->
        <ion-col text-left>
  
          <!-- Like Button -->
          <button ion-button icon-left clear icon-only (tap)="openPage('ItemLikesPage',item)" [class.liked]="item.like==true" text-lowercase>
  
            <!-- Icon -->
            <ion-icon name='heart'></ion-icon>
            {{item.likes|nicestats:'short'}}
          </button>
  
        </ion-col>
  
        <!-- Comment -->
        <ion-col text-left>
  
          <!-- Comment Button -->
          <button ion-button icon-left clear icon-only (tap)="openPage('ItemCommentsPage',item)" text-lowercase>
  
            <!-- Icon -->
            <ion-icon name='chatboxes'></ion-icon>
            {{item.comments|nicestats:'short'}}
          </button>
  
        </ion-col>
  
        <!-- Bids -->
        <ion-col text-left>
  
          <!-- Bids Button -->
          <button ion-button icon-left clear icon-only (tap)="openPage('ItemBidsPage',item)" *ngIf="item.type=='piece'" text-lowercase>
  
            <!-- Icon -->
            <ion-icon name='trending-up'></ion-icon>
            {{item.bids|nicestats:'short'}}
          </button>
  
        </ion-col>
  
        <!-- Price -->
        <ion-col col-3 text-left>
  
          <!-- Price Text -->
          <button ion-button icon-left icon-only clear *ngIf="item.price" text-capitalize>
            <ion-icon name="pricetag"></ion-icon>
            {{item.price | nicestats:'short':'zar'}}
          </button>
  
        </ion-col>
  
      </ion-row>
      <!-- ./Actions -->
  
      <!-- Tags -->
      <ion-row>
        <ion-col class="tags-list">
  
          <!-- Horizontal Scroll -->
          <ion-scroll scrollX="true" style="white-space:nowrap; height:36px;" [class.can-scrollX]="i==0">
  
            <!-- Tag Button -->
            <button *ngFor=" let tag of item.tags; let x=index;" ion-button clear small class="tags" text-lowercase (tap)="openPage('SearchPage',tag)">
              {{tag}}
            </button>
  
          </ion-scroll>
          <!-- ./Horizontal Scroll -->
  
        </ion-col>
      </ion-row>
      <!-- ./Tags -->
  
      <!-- Post Info -->
      <ion-row>
        <ion-col col-6>
          
          <!-- Posted Date-->
          <button disabled ion-button clear icon-only icon-left>
            <ion-icon name="time" ios="ios-time-outline"></ion-icon>
              {{item.posted|timeago:'long'}}
          </button>
    
        </ion-col>

        <ion-col text-end col-6>
          
          <!-- Repost Button-->
          <button ion-button clear icon-only icon-left text-lowercase [class.repost]="item.repost==true" (tap)="repostItem(item)">
            <ion-icon name="repeat"></ion-icon>
              {{item.reposts|nicestats:'short'}} 
              <!-- {{item.reposts == 1 ? 'repost':'reposts'}}  -->
          </button>
     
        </ion-col>

        <!-- Post Location ? -->
      </ion-row>
      <!-- ./Post Info -->
  
    </ion-card>
    <!-- ./Card Item -->

  </ion-list>
  <!-- ./List -->
  
  <!-- Fab -->
  <ion-fab bottom right #fab>

    <!-- Fab Button -->
    <button ion-fab mini>
      <ion-icon name='create' ios="ios-create-outline"></ion-icon>
    </button>

  </ion-fab>
  <!-- ./Fab -->

</ion-content>
